<div ng-controller="jobController as ctrl">


<div ng-show="job.id" class="container">
<h2 class="text-center">Edit Job Here</h2>
<form class="form-horizontal" name="update_job" ng-submit="job_update()" >
 <div class="form-group">
<label class="control-label col-sm-2">TITLE:</label><div class="col-sm-10"><input required="true" type="text"  id="title"  ng-model="job.title">
</div></div>
 <div class="form-group">
<label class="control-label col-sm-2">QUALIFICATION</label><div class="col-sm-10"><input required="true" type="text" id="qualification" ng-model="job.qualification">
</div></div>
 <div class="form-group">
<label class="control-label col-sm-2">DATE:</label><div class="col-sm-10"><input type="date" format="yyyy/MM/dd" id="date_time" ng-model="job.date_time">
</div></div>
 <div class="form-group">
<label class="control-label col-sm-2">STATUS:</label><div class="col-sm-10"><select id="status" ng-model="job.status"><option value="C">Closed</option>
<option value="V">Vacant</option>
</select>
</div></div>
 <div class="form-group">
<label class="control-label col-sm-2">Description:</label><div class="col-sm-10"><textarea cols="60" rows="10" id="description" ng-model="job.description"></textarea>
</div></div>
 <div class="form-group">
 <div class="col-sm-offset-2 col-sm-10">
<input type="submit" value="Update">
<button ng-click="getAllJob(); job.id=''">Back to Manage Job</button>
</div>
</div>
</form>
</div>

<div ng-hide="job.id" ng-init="getAllJob()">




<div class="container">
<h2 class="text-center">Job Management</h2>
<table class="table table-hover table-condensed table-bordered">
<thead>
<tr>
<th>ID</th>
<th>TITLE</th>
<th>QUALIFICATION</th>
<th class="col-lg-1">PUBLISHED ON</th>
<th>STATUS</th>
<th>DESCRIPTION</th>
<th class="col-lg-2">OPERATIONS</th>
</tr>
</thead>
	
   <tr ng-repeat="jobDetails in jobs">
   <td>{{jobDetails.id}}</td>
   <td>{{jobDetails.title}}</td>
   <td>{{jobDetails.qualification}}</td>
   <td >{{jobDetails.date_time| date:'longDate'}}</td>
   <td ng-if="jobDetails.status=='C'">Closed</td>
   <td ng-if="jobDetails.status=='V'">Vacant</td>
   <td ng-if="jobDetails.status !='C' && jobDetails.status !='V'">Not Updated</td>
   <td>{{jobDetails.description}}</td>
   <td style='white-space: nowrap'><a href="#job-manage" ng-click="jobEdit(jobDetails.id)">EDIT</a>
   </tr>
		

</table>
</div>
</div>
</div>