<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body ng-app="loginApp"   ng-controller="LoginController">

{{message}}

Enter User Name : <input type="text" ng-model="userID">  <br>
Enter Password : <input type="password" ng-model="password"> <br>

<input type="button" value="Login" ng-click="isvalid()">



</body>
<script src="../lib/angular.js"></script>
<script src="../lib/LoginController.js"></script>
<script src="../lib/LoginService.js"></script>
</html>